

/*Fuente tipográfica utilizada*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0.7)), url(../IMG/Dragon3.PNG);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .cointenido header{
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

}

#inicio .contenido header .contenido-header {
    max-width:1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #eee9e8;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #eee9e8 ;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;

}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #f6c435;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color:#eee9e8;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #f6c435;
}

/*Sección de color en el modo responsive*/

#inicio .contenido header .contenido-header .seleccionado{
    color: #f6c435;
}

/*termina*/

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #eee9e8;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 24px;
    text-align: center;
    color: #eee9e8;
}

#inicio .contenido .presentacion h2 span{
    color: #f6c435;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
    color: #eee9e8;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #eee9e8;
    border-radius: 20px;
    color: #eee9e8;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: #f6c435;
}

#icono-nav{
    color: #f6c435;
    display: none;
}

/*Empezamos la secccion de estilos sobre mi*/

#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 12px;
    color: #050504;
    display: flex;
}

#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f6c435;
}

#sobremi .sobremi{
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color:#050504;
    text-decoration: underline;
    text-decoration-color: #f6c435;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span{
    color: #f6c435;
}

#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #050504;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #050504;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #050504;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover{
    background-color: #f6c435;
    color: #eee9e8;
}

/*Empezamos con la seccion servicios*/

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: #f6c435;
}

#servicios .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color:#050504;
    text-decoration: underline;
    text-decoration-color: #f6c435;
    text-decoration-thickness: 5px;
}

#servicios .fila{
    display: flex;
    justify-content: space-between;
    max-width:1100px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #eee9e8;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover{
    box-shadow: 5px 5px 10px #daa20a, -5px -5px 10px #be8e0a;
}

#servicios .fila .servicio h4{
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f6c435;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr{
    width: 30%;
    margin: auto;
    color: #050504;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}

/*Sección de skills*/

.contenedor-skills {
    background: linear-gradient(#f6c435, rgba(33,16,16,.8)), url(../IMG/Dragon1.PNG) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .skill{
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info{
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #eee9e8;
}

.contenedor-skills .skill .barra {
    background-color: #eee9e8;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

/*Este estilo se aplica mediante javascript para lograr la animación*/

.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #050504;
    width: 70%;
    height: 7px;
    animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #050504;
    width: 50%;
    height: 7px;
    animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #050504;
    width: 60%;
    height: 7px;
    animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #050504;
    width: 80%;
    height: 7px;
    animation: progreso4 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso5 {
    background-color: #050504;
    width: 70%;
    height: 7px;
    animation: progreso5 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso6 {
    background-color: #050504;
    width: 70%;
    height: 7px;
    animation: progreso6 2s forwards;
}

/*Creación de animaciónes de las barras*/

@keyframes progreso1{
    0%   { 
        width:0 ;
    }
    100%{
        width:70%;
    }
}

@keyframes progreso2{
    0%   { 
        width:0 ;
    }
    100%{
        width:50%;
    }
}

@keyframes progreso3{
    0%   { 
        width:0 ;
    }
    100%{
        width:60%;
    }
}

@keyframes progreso4{
    0%   { 
        width:0 ;
    }
    100%{
        width:80%;
    }
}

@keyframes progreso5{
    0%   { 
        width:0 ;
    }
    100%{
        width:70%;
    }
}

@keyframes progreso6{
    0%   { 
        width:0 ;
    }
    100%{
        width:70%;
    }
}

/*Sección del portafolio*/

#portafolio{
    max-width: 1200px;
    padding: 100px 0;
    margin: auto;
}

#portafolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color:#050504;
    text-decoration: underline;
    text-decoration-color: #f6c435;
    text-decoration-thickness: 5px;
}

#portafolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto{
    max-width: 450px;
    border: 1px solid #050504;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

#portafolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portafolio .fila .proyecto:hover img{
    filter: grayscale(0);
}

#portafolio .fila .proyecto .info {
    position:absolute;
    left:0;
    background-color: rgba(0, 0, 0, .8);
    color:#f6c435;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portafolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

/*Sección de contacto*/

#contacto {
    padding: 100px 15px;
}

#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #050504;
    text-decoration: underline;
    text-decoration-color: #f6c435;
    text-decoration-thickness: 5px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #eee9e8;

}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full{
    width: 100%;
}

#contacto .btn-enviar{
    display:block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px ;
    font-weight: bold;
}

#contacto .btn-enviar:hover{
    background-color: #f6c435;
    color: #eee9e8;
}

footer{
    background-color: #050504;
    color: #eee9e8;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    color: #eee9e8;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/*Sección responsive*/

@media screen and (max-width: 800px){
    .redes{
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top:48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul{
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav {
        display:block;
    }
    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }
    #sobremi{
        padding:50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;

    }
    #sobremi .contenedor-foto img{
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }
    #servicios{
        padding: 50px 15px;
    }
    #servicios .fila{
        display: block;
    }
    #servicios .fila .servicio{
        margin: 10px auto;
    }
    .contenedor-skills{
        padding: 50px 20px;
    }
    #portafolio{
        padding: 50px 0;
    }
    #portafolio .fila {
        display: block;
    }
    #portafolio .fila .proyecto{
        margin: 10px auto;
    }
    #contacto{
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display:block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}